.mainContainer {
  display: flex;
  margin-top: 2rem;
  width: fit-content;
  margin: auto;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 962px) {
  .mainContainer {
    flex-direction: column;
    min-width: 95vw;
    max-width: 95vw;
    margin: auto;
  }
}
