.mainContainer {
  display: flex;
  margin-top: 2rem;

  margin: auto;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 962px) {
  .mainContainer {
    flex-direction: column;
    max-width: 100%;
  }
}
