.stripCenter {
  display: flex;
  flex-direction: column;
  width: 80px;
  align-items: center;
  border-radius: 4px;
  margin: 0 0.5rem;
}
.active {
  background-color: var(--focused-background-dark);
}
.stripCenter h3 {
  margin: 0.5rem auto;
  font-size: 18px;
}
.stripCenter p {
  font-size: 14px;
  margin: 0;
}
