.weekWeatherContainer {
  background-color: var(--card-background-dark);
  padding: 1rem;
  margin: 1.5rem auto;

  border-radius: 4px;
  box-sizing: border-box;
}
.stripContainer {
  display: flex;
  overflow-x: scroll;
  padding: 0.5rem;
}
.stripContainer svg {
  background-color: transparent;
}
