.headingContainer {
  display: flex;
}
.currentWeatherTemp h1 {
  font-size: 3rem;
  margin-top: 1rem;
}
.timeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem auto;
}
.timeContainer > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeContainer > div svg {
  margin-right: 0.5rem;
  background-color: transparent;
}
.weatherIcon > svg {
  width: 60px;
  height: 60px;
  margin-top: -0.75rem;
  stroke-width: 1;
}
