.headingContainer {
  padding: 0 1rem;
}
.containerCenter {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: gray 1px solid;
  height: 30px;
}
.icon {
  margin-right: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
