.sidebarConainer {
  max-width: 350px;
  padding: 1rem;
  align-items: center;
}
.cardContiner {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  margin: 3rem auto auto auto;
}

@media screen and (max-width: 700px) {
  .sidebarConainer {
    min-width: 100%;
    padding: 1rem;
  }
  .cardContiner {
    max-width: 400px;
  }
}
