.detailWeatherContainer {
  background-color: var(--focused-background-dark);
  width: 800px;
  border-radius: 1.5rem;
  margin-left: -3rem;
  padding: 1rem 3rem;
  min-height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 962px) {
  .detailWeatherContainer {
    margin: 0;
    padding: 3rem 1rem 1rem 1rem;
    border-radius: 0;
    width: 95%;
    margin: auto;
  }
}
