.card {
  width: 150px;
  background-color: var(--focused-background-dark);
  border-radius: 4px;
  padding: 1rem 0;
  margin: 0.5rem;
}
.card h3 {
  display: flex;
  width: fit-content;
  margin: auto;
  letter-spacing: 2px;
}
.card p {
  font-size: 12px;
}
.card svg {
  background-color: var(--card-background-dark);
}
