.multiCloud {
  position: relative;
  margin: inherit auto;
  width: 42px;
  height: 30px;
  margin: inherit auto;

  border-radius: 4px;
}
.sidebarConainer .multiCloud svg {
  margin: auto;
  background-color: var(--focused-background-dark);
  position: fixed;
  color: green;
}
.multiCloud svg {
  position: absolute;
  top: 0;
  left: 0;

  background-color: transparent;
}
.multiCloud svg:nth-child(1) {
  left: 12px;
  background-color: transparent;
  z-index: 5;
}
